{% extends 'memehub/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="memepage">
        <div class="row">
			<div class="col-4 d-none d-lg-block status" id="droppable">
            </div>
			<div class="col-12 col-lg-4 paul">
				<div class="container-fluid memeframe">
					<img class="memecontent" id="draggable2" src="{{ meme.image.url }}">
						<div class="container-fluid mobilestatuslike d-block d-lg-none" id="droppablemob">
						</div>
						<div class="container-fluid memeframebuttons">
						</br>
						<button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-heart fa-2x"></i></button>
						<button type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-meh fa-2x"></i></button>
						<button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-times fa-2x"></i></i></button>
					</div>
					<div class="container-fluid mobilestatusdislike d-block d-lg-none" id="droppablemob2">
					</div>
				</div>
			</div>
			<div class="col-4 d-none d-lg-block status" id="droppable2">
            </div>
		</div>
	</div>
	<!-- judge scripts -->
	<script type="text/javascript" src="{% static 'js/meme.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hammer.js' %}"></script>

    <script src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
{% endblock %}
