
<html>
<head>
<link rel="stylesheet" href= "registration.css">
<link rel="stylesheet" href= "font-awesome/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>



           <h1 class = "title">Your Matches</h1>

                  <hr>
                  <ul id="sortable" class="list-unstyled">
                  <li class="ui-state-default profilelist">
                        <div class = "profile"> <p class = 'profileheader'>  Bas Luttik  <a href=https://www.facebook.com/bas.luttik >  <i  class=" fbbutton btn-primary fa fa-facebook" aria-hidden="true"></i></a> </p>
                        <p>  <div class = "avatar"> <img src="luttik.jpeg" alt="Luttik"> </div> </p>

                  </li>
                  <li class="ui-state-default profilelist">
                        <div class = "profile"> <p class = 'profileheader'>  George Fletcher  <a href=match.html >  <i  class=" fbbutton btn-primary fa fa-facebook" aria-hidden="true"></i></a> </p>
                        <p>  <div class = "avatar"> <img src="fletcher.jpeg" alt="Fletcher"> </div> </p>

                  </li>
                  <li class="ui-state-default profilelist">
                    <div class = 'profile'> <p class = 'profileheader'>  Roel Bloo <a href=https://www.facebook.com/roel.bloo.5 >  <i class=" fbbutton btn-primary fa fa-facebook" aria-hidden="true"></i></a> </p>
                    <p>  <div class = "avatar"> <img src="bloo.jpeg" alt="Luttik"> </div> </p>
                  </li>


    {% for post in profiles %}
  <li class="ui-state-default profilelist">
        <div class = "profile"> <p class = 'profileheader'>{{ profile.title }} <a href=fblink >  <i class=" fbbutton btn-primary fa fa-facebook" aria-hidden="true"></i></a> </p>
        <p>  <div class = "avatar"> {{profile.avatar}} </div> </p>
    </li>
     {% endfor %}
              </ul>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
