{% extends 'memehub/base.html' %}
{% load staticfiles %}
  {% block content %}
    <div class="container">
      <div class="row">
        <div class="Absolute-Center is-Responsive">
          <div id="logo-container">
          <img class="img-fluid movie-poster" src="{% static 'images/Memehub.png' %}">
          </div>
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <form method="post">
              {% csrf_token %}
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="text" name='username' placeholder="username"/>
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" type="password" name='password' placeholder="password"/>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-def btn-block">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
