.hide{
  display: none;
}


.memecontent:hover{
  cursor: pointer;
}

.memepage{
  overflow-x: hidden;
 overflow-y: hidden;
  background-color: rgb(255, 255, 255);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

}

.statusdislike{
  position: fixed;
  z-index: -1;
  bottom: 0%;
  top: 0%;
  right: 65%;

  opacity: 100%
}

.statuslike{

    position: fixed;
    z-index: -1;
    bottom: 0%;
    top: 0%;
    left: 65%;

    opacity: 100%
}



/* Landscape phones and down */
@media (max-width: 480px) {
    .stampD{
      display: none;
      position: fixed;
      top: 40%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      max-width: 100vw;

      z-index: +1;
      opacity: 0;

      transition: opacity 2s ease-out;
    }
    .stampL{
      display: none;
      position: fixed;
      top: 40%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      max-width: 100vw;
      z-index: +1;
      opacity: 0;

      transition: opacity 2s ease-out;
    }
    .memecontent{
      max-width: 100%;
      max-height: 55vh;
      z-index: +1;
    }
}

@media (min-width: 480px) {
  .stampD{
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    max-width: 500px;
    z-index: +1;
    opacity: 0;

    transition: opacity 2s ease-out;
  }

  .stampL{
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    max-width: 500px;
    z-index: +1;
    opacity: 0;

    transition: opacity 2s ease-out;
  }
  .memecontent{
    max-width: 100%;
    max-height: 575px;
    z-index: +1;
  }
}



.mobilestatuslike{

  position: fixed;
  z-index: -1;
  bottom: 0%;
  top: 0%;
  right: 60%;
  opacity: 100%

}

.mobilestatusdislike{

  position: fixed;
  z-index: -1;
  bottom: 0%;
  top: 0%;
  left: 60%;

}

.like{

}

.dislike{

}

.green{

  background-color: rgb(250, 7, 242);
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.memeframe{
  width: 100%;
  height: 65%;
  max-width: 500px;
    min-width: 299px;
}

.memeframe:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.memeframebuttons{
  width: 100%;
  height: 65%;
  min-width: 299px;
}

.memeframebuttons:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.btn-circle:hover{
  cursor: pointer;
}

.btn-circle.btn-lg {

  width: 60px;
  height: 60px;
  padding: 10px 16px;
  font-size: 13px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-circle.btn-xl {

  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 65px;
}

.paul {
    text-align: center;

}
